.note{ :"data-description" => note.description, :"data-original-title" => note.title,
       :id => "note-container-#{note.id}", :"data-note-date" => side_date, :"data-hour" => hour,
       :"data-action" => note.new_record? ? notes_path : note_path(note.id) }
  .time
    %span.hours= "#{'%02d' % hour}."
    %sup 00
  .note-title
    = note.title
  .delete
    %a{ :href => 'http://www.times.lv' } Delete