#day-block
  #day-left
    = @current_date.to_s
  #day-right
    = (@current_date + 1.day).to_s
#notes-left
  %ul
    %li Note 1
    %li Note 2
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3

#notes-right
  %ul
    %li Note 1
    %li Note 2
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3
    %li Note 3