#day-block
  #day-left
    = @current_date.to_s
  #day-right
    = (@current_date + 1.day).to_s
#notes-left.note-container
  - (1..24).each do |i|
    = render :partial => 'note', :locals => {:nr => i-1}

#notes-right.note-container
  - (1..24).each do |i|
    = render :partial => 'note', :locals => {:nr => i-1}