div#wrapper {
  width:1280px;
  margin: 0 auto;
    
  div.container {
    background-image:url('/assets/book.png');
    background-repeat: no-repeat;
    background-position: top;
  
    width: 990px;
    height: 624px;
    margin: 0 auto;
    margin-top: 70px;
    clear:both;
    
    .form-container {
      text-align:left;
      margin-top: 40px;
      margin-left: 60px;
      float: left;
      width: 400px;
      
      .inputs {
        float: left;
        display: block;
        clear: both;
        width:400px;
        
        .input {
          margin-left: 15px;
          margin-top: 10px;
          display: inline-block;
          width: 400px;
          
          label, input {
            float:left;
            text-align: left;
          }            
        }
        
        .boolean {
          display: inline-block;
          label {
            margin-left: 15px;
            padding-top: 0px;
            width: 100px;
            float: left;
          }
          input {
           margin-left: 130px; 
          }
        } //input div container for boolean fields
      } //inputs container for all inputs in form     
      .actions {
        display :block;
        float: left;
        width: 200px;
        clear:right;
        input {
          width: 50px;
          margin-right: 0px !important;
 //         float: left;
 //          margin: 0 0 0 0;
        }
      } // actions container
    } //form container
  } //div container
} // wrapper