#day-block {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  
  #day-left {
    float: left;
    margin-left: 60px;
  }
}

div.notes-container {
  float: left;
  margin-top: 20px;
  text-align: left;
  border-bottom: solid;
  border-top: solid;
  border-width: 2px;
}

div#notes-left {
  width: 420px;
  margin-left: 60px;
}

div#notes-right {
  margin-left: 45px;
  width: 400px;
}

div.note {
  height: 19px;
  line-height: 19px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  vertical-align: middle;
  
  div.time {
    display: inline-block;
    font-weight: bold;
    
    span.hours {
    }
    
    sup {
      margin-left: -5px;
    }
  } 
  
  div.note-title {
   display: inline-block;
   margin-left: 10px;
  }
  
  div.delete {
    display: inline-block;
    float: right;
  }
}

div.note:hover {
  background-color: green;
}

div.modal {
  display: none;
//  height: 350px;
  
  .form-container {
    text-align: left;
    
    #submit-result-msg {
      margin-left: 0px;
      
      div {
        width: 315px;
        border: 2px solid;
        padding: 0px;
        padding-bottom: 12px;
        margin-bottom: 20px;
      }
      .notice {
        color: #254117;
        border-color: #254117;
        background-color: #4CC417;
      }
      .error {
        width: 315px;
        border-color: #CF0000;
        padding: 0px;
        padding-bottom: 12px;
        margin-bottom: 20px;
        background-color: #f0f0f0;        
      }
      
      ul {
        margin-top: 5px;
        li {
          color: red;
        }
      }
    }
//    .error_messages {
//      width: 400px;
//      border: 2px solid #CF0000;
//      font-size: 12px;
//    }
//
//    .error_messages h2 {
//      text-align: left;
//      font-weight: bold;
//      padding: 5px 10px;
//      font-size: 12px;
//      margin: 0;
//      background-color: #c00;
//      color: #fff;
//    }
//
//    .error_messages p {
//      margin: 8px 10px;
//    }
//
//    .error_messages ul {
//      margin: 0;
//    }
    .actions {
      display: block;
      clear: both;
      margin-bottom: 0px;
      
      input, button {
        float: left;
      }
      
      img {
        margin-left: 30%;
      }
      input {
       margin-left: 32%; 
      }
    }
    .modal-body {
      display: block;
      clear: both;
      width: 100%;
      .inputs {
        width: 100%;
        .input {
          margin-left: 0px;
          clear: both;
          input, label, textarea {
            text-align: left;
            float: left;
            margin-top: 10px;
          }
          
          textarea {
            width: 350px;
          }
        
          label {
            width: 100px;
          }
        }
      }
    }
  }
}